@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Manrope:wght@800&display=swap');

:root{
    /* ## Colors */

/* ### Primary */

--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);

/* ### Neutral */

--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);

font-family: 'Fraunces', serif;

}

*{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Dark-Blue);
}

.advice__card{
    background: var(--Dark-Grayish-Blue);
    width: 500px;
    height: auto;
    border-radius: 1rem;
    position: relative;
}

.advice__container{
    padding: 2rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

p{
    margin-top: 15px;
    color:var(--Neon-Green);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h2{
    margin-top: 20px;
    color: var(--Light-Cyan);
    font-size: 20px; 
}

picture img{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button{
    position: absolute;
    margin: auto;
    margin-top: 50px;
    bottom: -40px;
    left: 44%;
    background-color: var(--Neon-Green);
    border: none;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    filter: drop-shadow(0 0 0.75rem hsl(150,100%,60%));
    transition: all 0.1s ease-out;

}

@media screen and (max-width:500px){
    .advice__card{
        width: 350px;
    }
}